%p
	Starbucks and Yeti Media are partnering with ABC7 and SoCal Fire Fighters
	Spark of love this holiday season by hosting a Toy Drive.
%p
	We will be accepting New, Unwrapped toys or Sport Equipment valued at $10 dollors or more.
%p
	Yeti Media makes simply successfull apps with a focus on user experience.
%p
	We can take your concept and turn it into a real mobile application. Yeti Media develops for any platform, including the ever popular iPhone, Android, or Mobile Web.
%p
	.fb-like{"data-href" => "http://facebook.com/youryeti", "data-send" => "false", "data-show-faces" => "true", "data-width" => "200"}
%p
	Contact Yeti Media:
	714-451-6814
%p
	:plain
		<div id="wufoo-m7x3q1">
		</div>
		<script type="text/javascript">var m7x3q1;(function(d, t) {
		var s = d.createElement(t), options = {
		'userName':'yetimedia', 
		'formHash':'m7x3q1', 
		'autoResize':true,
		'height':'261',
		'async':true,
		'header':'show'};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { m7x3q1 = new WufooForm();m7x3q1.initialize(options);m7x3q1.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');</script>

%a.close-reveal-modal &#215;