%p
  Tweet that "You've Donated" with the hash tag #TeamSpark and
  follow @yeti_media to be entered to win a free Starbucks Gift card valued at $25.
.twitter
  %a.twitter-hashtag-button{:href => "https://twitter.com/intent/tweet?button_hashtag=#{Settings.twitter.hashtag}&text=#{Settings.twitter.text}", "data-size" => "large", "data-related" => "yeti_media,starbucks"}
%br
%a.close-reveal-modal &#215;  