%header
  %article{"data-role" => "navigation"}
    %ul.breadcrumbs
      %li
        %a{href: "#locations"} Locations
      %li
        %a{href: "#", "data-id" => "enterModal"} Enter to Win
      %li
        %a{href: "#toys"} Toys