%header
  %article{"data-role" => "navigation"}
    %ul.breadcrumbs
      %li
        %a{href: "#locations"} Locations
      %li
        %a{href: "#enter-to-win"} Enter to Win
      %li
        %a{href: "#toys"} Toys