%h5 Suggested Donation Items:
.four.columns
  %h6 Non Gender Specific:
  %ul
    %li MP3s
    %li Sunglasses
    %li Cellphone cases
    %li Earplugs/earphones
.four.columns
  %h6 Boys:
  %ul
    %li Skateboards
    %li Razor scooters
    %li Basketballs, soccer balls and footballs
.four.columns
  %h6 Girls:
  %ul
    %li Cross-body purses/bags
    %li Make-up brushes
    %li Blow dryers
    %li Flat irons
    %li Hot iron tools
%a.close-reveal-modal &#215;