@import "modules/constants";
@import "modules/mixins";
@import "compass/css3";
@import "compass/utilities";


html {
  height: 100%;
  @include kill-mobile-zoom;
  @include kill-tap-highlight;
}

body {
  overflow-x: hidden;
  height: 100%;
  background: transparent url(image-path("Background.jpg"));
  color: $font-color;
  font-family: $font-family;
  font-size: 18px;
  @include background-size(100%, auto);
  @include text-shadow(0 0.1rem #f5f4f4);
}

.xl-type { 
  font-family: $header-font;
  font-size: 400%;
}

.large { 
  font-family: $header-font;
  font-size: 30px !important;
}

.bold {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

small {
  font-size: 12px !important;
}

.opacity-100 {
	@include opacity(100);
}
.opacity{
  @include opacity(0.89);
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.m-t-b-30 {
  margin: 30px 0;
}

.opacity-0 {
	@include opacity(0);
}

.padding {
  padding: 10px;
}

.header-bg {
  background-color: rgba(153,153,153, 0.4);
}

p {
	font-size: 20px;
	line-height: 1.444;
}

.button {
  font-size: 16px;
  @include text-shadow(0 0.1rem #666);
}

ul {
  font-size: 18px;
}

ul.horizontal {
  @include horizontal-list;
}

.boxshadow {
  @include box-shadow(rgba(black, 0.4) 0 0 25px, rgba(gray, 0.2) 0 0 3px 1px inset);
}

.show-duration-easein {
  @include transition-property(opacity);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in); 
}

.margin-0 {
  margin: 0 !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.bg-green {
  background-color: rgba(93, 164, 35, 0.5);
}
.fixed {
  position: fixed;
}

.twitter {
  position: absolute;
  z-index: 9999;
}