@import "modules/constants";
@import "modules/mixins";
@import "compass/css3";


html {
  height: 100%;
  @include kill-mobile-zoom;
  @include kill-tap-highlight;
}

body {
    overflow-x: hidden;
  height: 100%;
  background: transparent url(image-path("redbg400pixelsq.jpg"));
  color: $font-color;
  font-family: $font-family;
  font-size: 18px;
  padding-top: 50px;
}

.xl-type { font-size: 400%; }

.large { font-size: 30px !important; }

.bold {
    font-weight: bold;
}

h5, h6 {
  font-family: $font-family;
}

small {
  font-size: 12px !important;
}

.opacity-100 {
	@include opacity(100);
}
.opacity-96 {
  @include opacity(0.96);
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.opacity-0 {
  display: hidden;
	@include opacity(0);
}

p {
	font-size: 20px;
	line-height: 1.444;
}

.boxshadow {
  @include box-shadow(rgba(black, 0.4) 0 0 25px, rgba(gray, 0.2) 0 0 3px 1px inset);
}

.show-duration-easein {
  @include transition-property(opacity);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in); 
}

.margin-0 {
  margin: 0 !important;
}