@import "compass/css3";
@import "modules/mixins";

.l-container {
  background: transparent url(image-path("")) no-repeat;
  min-height: 100%;
}

.l-map-top-of-page {
  position: absolute;
  top: -500px;

}

header {
  width: 100%;
  margin-bottom: 15px
}