.map img, object, embed {
  overflow-x: hidden;
  max-width: none; 
}

#map {
 width: 100%;
 height: 300px;
}

.about-button .button {
  width: 100%;
}

.fb_edge_widget_with_comment { 
  height: 20px !important; overflow: hidden; 
}

[data-role=navigation] {
  ul.breadcrumbs {
    background: rgba(255, 255, 255, 0.85);
  }
}

ul.breadcrumbs {
  li { 
    padding: 0 6px 0 0;
    a {
      font-size: 1.5rem !important;
      padding-left: 6px;
    }
  }  
}

.snow-man {
  position: relative; 
}

.clear-skrollr {
  position: absolute;
  z-index: 9999;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
  clear: both;
}