.tabs dd.active, .tabs li.active {
	border-top: 5px solid red;
}

.tabs.mobile dd:first-child, .tabs.mobile li:first-child {
	padding-left: 0px !important;
}

.tabs {
	margin-top: 50px;
}

.chart {
	height: 230px;
	width: 230px;
}

.map img, object, embed {
	overflow-x: hidden;
	max-width: none; 
}

.about-button .button {
  width: 100%;
}

.fb_edge_widget_with_comment { 
	height: 20px !important; overflow: hidden; 
}
