@import "modules/mixins";


@include responsive-sass(max-width, 480px) {
  .reveal-modal,
  .reveal-modal.small,
  .reveal-modal.medium,
  .reveal-modal.large,
  .reveal-modal.xlarge {
    width: 100%;
    top: 15px;
    left: 50%;
    margin-left: -50%;
    padding: 20px;
    height: auto;
  }
}

@include responsive-sass(min-width, 768px) {
  .map_container {
    width: 571px;
  }
}

@include iphone5-landscape {
  .bg-color {
    background-color: #9acd68;
  }
}

@include ipad-landscape {
  .row {margin: 0}
  .bg-color {
    background-color: transparent !important;
  }
}

@include ipad-portrait {
  .row .row {margin: 0}
  .seven {
    width: 83.33333% !important;
  }
  .tabs-content .seven {
    width: 58% !important;
  }
  .about-button .button {
    width: 100%;
  }
}

@include responsive-sass(max-width, 767px) {
  .sb-logo {
    height: 500px
  }
}